</main>


<footer id="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <a href="/">Jokener😂</a> 
        </div>

        <div class="copyright">
            Copyright @abeldaniels 2023
        </div>
    </div>
</footer>

    <script src="/app.js"></script>
</body>
</html>